/* Full Doc Styling: */
*{
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
}

.oneWidth{
  width: 480px;
}

/* Header: */
#a {
  height: 75px;
  margin-right: 50px;
  margin-left: 50px;
  background-color: rgb(18, 18, 92);
}

/* Body: */
#b {
  height: 150px;
  background-color: rgb(27, 27, 121);
}

/* block one styling: */
#blockOne section{
  height: 125px;
}
#c{
  background-color: rgb(37, 37, 131);
}
#d {
  background-color: rgb(50, 50, 150);
}
/* end block one */

/* block two styling: */
#blockTwo section{
  width: 240px;
  height: 250px;
}
#f, #h {
  float: right;
}
#e, #g {
  float: left;
}
#e {
  background-color: rgb(66, 66, 170);
}
#f {
  background-color: rgb(56, 56, 163);
}
#g {
  background-color: rgb(84, 84, 194);
}
#h {
  background-color: rgb(67, 67, 189);
}
/* end block two */

/* footer: */
#i{
  height: 80px;
  position: absolute;
  top: 975px;
  margin-left: 50px;
  margin-right: 50px;
  background-color: rgb(132, 132, 219);
}
