@media (min-width: 650px){

  #a {
    background-color: rgb(54, 119, 54);
    width: 100%;
  }

  #b{
    background-color: rgb(16, 95, 16);
    height: 35em;
    width: 15%;
  }

  #c{background-color: rgb(4, 78, 4);}

  #d{background-color: rgb(7, 58, 7);}

  #e{background-color: rgb(34, 80, 34);}

  #f{background-color: rgb(3, 46, 3);}

  #g{background-color: rgb(14, 53, 14);}

  #h{background-color: rgb(3, 41, 3);}

  #i{background-color: rgb(2, 32, 2);}

  main{
    display: flex;
    flex-direction: row;
  }

  #blockOne{
    width: 15%;
    display: grid;
    grid-template: 20em 15em / 100%;
  }

  #blockTwo{
    width: 70%;
    display: grid;
    grid-template: 50% 50% / 50% 50%;
  }

}